
        <p-dialog [(visible)]="editPieceJointeRendezVousDialog" [style]="{width: '70vw'}"
                header="Piece jointe rendez vous" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Piece jointe rendez vous">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Path</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Path"
                                                   id="1" [(ngModel)]="selectedPieceJointeRendezVous.path"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="2">Rendez vous</label>
                                            <p-dropdown [options]="rendezVouss" [(ngModel)]="selectedPieceJointeRendezVous.rendezVousVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="reference"
                                                    placeholder="Rendez vous">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreaterendezVous('rendezVous')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Date ajout</label>
                                            <p-calendar id="3"
                                                        placeholder="Date ajout"  [(ngModel)]="selectedPieceJointeRendezVous.dateAjout"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Libelle</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="4" [(ngModel)]="selectedPieceJointeRendezVous.libelle"
                                                   />
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="5">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="5"  [(ngModel)]="selectedPieceJointeRendezVous.archive"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Date archivage</label>
                                            <p-calendar id="6"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedPieceJointeRendezVous.dateArchivage"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Date creation</label>
                                            <p-calendar id="7"
                                                        placeholder="Date creation"  [(ngModel)]="selectedPieceJointeRendezVous.dateCreation"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="8">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="8"  [(ngModel)]="selectedPieceJointeRendezVous.admin"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="9">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="9"  [(ngModel)]="selectedPieceJointeRendezVous.visible"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="10" [(ngModel)]="selectedPieceJointeRendezVous.username"
                                                   />
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-rendez-vous-create-moderateur></app-rendez-vous-create-moderateur>



    </p-dialog>



