        <p-dialog [(visible)]="createRendezVousDialog" [style]="{width: '70vw'}"
                header="Rendez vous" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Rendez vous">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Reference</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedRendezVous.reference"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Description</label>
                                            <textarea id="2" pInputTextarea rows="5" cols="30"
                                                      placeholder="Description"  [(ngModel)]="selectedRendezVous.description"
                                             ></textarea>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Date debut<span style="color: red;">*</span></label>
                                            <p-calendar id="3"
                                                        placeholder="Date debut"  [(ngModel)]="selectedRendezVous.dateDebut"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validRendezVousDateDebut}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validRendezVousDateDebut'>DateDebut est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Pv</label>
                                            <textarea id="4" pInputTextarea rows="5" cols="30"
                                                      placeholder="Pv"  [(ngModel)]="selectedRendezVous.pv"
                                             ></textarea>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Piece jointe rendez vous</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Piece jointe rendez vous"
                                                    [(ngModel)]="selectedRendezVous.pieceJointeRendezVous"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="6">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="selectedRendezVous.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Date archivage</label>
                                            <p-calendar id="7"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedRendezVous.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Date creation</label>
                                            <p-calendar id="8"
                                                        placeholder="Date creation"  [(ngModel)]="selectedRendezVous.dateCreation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="9">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="9"  [(ngModel)]="selectedRendezVous.admin"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="10">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="10"  [(ngModel)]="selectedRendezVous.visible"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="11" [(ngModel)]="selectedRendezVous.username"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Piece jointe rendez vous">
                                   <p-tabView>
                                    <p-tabPanel header="Création">
                                <div class="p-grid">
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="1">Path</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Path"
                                                           id="1" [(ngModel)]="selectedPieceJointeRendezVous.path"
                                                           autofocus   >
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="3">Date ajout</label>
                                                    <p-calendar id="3"
                                                                placeholder="Date ajout"
                                                            [(ngModel)]="selectedPieceJointeRendezVous.dateAjout"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="4">Libelle</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Libelle"
                                                           id="4" [(ngModel)]="selectedPieceJointeRendezVous.libelle"
                                                           autofocus   >
                                                    
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="5">Archive</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="5"  [(ngModel)]="selectedPieceJointeRendezVous.archive"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="6">Date archivage</label>
                                                    <p-calendar id="6"
                                                                placeholder="Date archivage"
                                                            [(ngModel)]="selectedPieceJointeRendezVous.dateArchivage"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="7">Date creation</label>
                                                    <p-calendar id="7"
                                                                placeholder="Date creation"
                                                            [(ngModel)]="selectedPieceJointeRendezVous.dateCreation"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="8">Admin</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="8"  [(ngModel)]="selectedPieceJointeRendezVous.admin"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="9">Visible</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="9"  [(ngModel)]="selectedPieceJointeRendezVous.visible"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="10">Username</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Username"
                                                           id="10" [(ngModel)]="selectedPieceJointeRendezVous.username"
                                                           autofocus   >
                                                    
                                                </div>
                                          <div class="p-field p-col-12 p-md-1">
                                              <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                    label="OK" (click)="addPieceJointeRendezVous()">
                                              </button>
                                          </div>
                                </div>
                                </p-tabPanel>
                                <p-tabPanel header="Liste">
                                    <div class="card">
                                        <p-table [value]="selectedRendezVous.pieceJointeRendezVousVo" [scrollable]="true"
                                                scrollHeight="200px">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                                <th>Path</th>
                                                                <th>Date ajout</th>
                                                                <th>Libelle</th>
                                                                <th>Archive</th>
                                                                <th>Date archivage</th>
                                                                <th>Date creation</th>
                                                                <th>Admin</th>
                                                                <th>Visible</th>
                                                                <th>Username</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-p>
                                                <tr>
                                                                <td>{{p.path}}</td>

                                                                <td>{{p.dateAjout | date: dateFormatColumn}}</td>

                                                                <td>{{p.libelle}}</td>

                                                                <td><i *ngIf="p.archive" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.archive" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td>{{p.dateArchivage | date: dateFormatColumn}}</td>

                                                                <td>{{p.dateCreation | date: dateFormatColumn}}</td>

                                                                <td><i *ngIf="p.admin" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.admin" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td><i *ngIf="p.visible" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.visible" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td>{{p.username}}</td>

                                                    <td>
                                                        <button (click)="deletePieceJointeRendezVouss(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>

                                </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>


                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
