        <p-dialog [(visible)]="createConventionDialog" [style]="{width: '70vw'}"
                header="Convention" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Convention">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Reference</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedConvention.reference"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Libelle<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="2" [(ngModel)]="selectedConvention.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validConventionLibelle}"  />
                                            <small class='p-error' *ngIf='!validConventionLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="3">Organisme<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="organismes" [(ngModel)]="selectedConvention.organismeVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Organisme" [ngClass]="{'ng-invalid ng-dirty' : !validConventionOrganisme}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validConventionOrganisme'>Organisme est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateorganisme('organisme')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Description</label>
                                            <textarea id="4" pInputTextarea rows="5" cols="30"
                                                      placeholder="Description"  [(ngModel)]="selectedConvention.description"
                                             ></textarea>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Date debut<span style="color: red;">*</span></label>
                                            <p-calendar id="5"
                                                        placeholder="Date debut"  [(ngModel)]="selectedConvention.dateDebut"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validConventionDateDebut}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validConventionDateDebut'>DateDebut est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Piece jointe conventions</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="6"
                                                           placeholder="Piece jointe conventions"
                                                    [(ngModel)]="selectedConvention.pieceJointeConventions"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="7">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="7"  [(ngModel)]="selectedConvention.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Date archivage</label>
                                            <p-calendar id="8"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedConvention.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Date creation</label>
                                            <p-calendar id="9"
                                                        placeholder="Date creation"  [(ngModel)]="selectedConvention.dateCreation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="10">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="10"  [(ngModel)]="selectedConvention.admin"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="11">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="11"  [(ngModel)]="selectedConvention.visible"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="12">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="12" [(ngModel)]="selectedConvention.username"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Piece jointe conventions">
                                   <p-tabView>
                                    <p-tabPanel header="Création">
                                <div class="p-grid">
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="1">Path</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Path"
                                                           id="1" [(ngModel)]="selectedPieceJointeConventions.path"
                                                           autofocus   >
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="3">Date ajout</label>
                                                    <p-calendar id="3"
                                                                placeholder="Date ajout"
                                                            [(ngModel)]="selectedPieceJointeConventions.dateAjout"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="4">Libelle</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Libelle"
                                                           id="4" [(ngModel)]="selectedPieceJointeConventions.libelle"
                                                           autofocus   >
                                                    
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="5">Archive</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="5"  [(ngModel)]="selectedPieceJointeConventions.archive"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="6">Date archivage</label>
                                                    <p-calendar id="6"
                                                                placeholder="Date archivage"
                                                            [(ngModel)]="selectedPieceJointeConventions.dateArchivage"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="7">Date creation</label>
                                                    <p-calendar id="7"
                                                                placeholder="Date creation"
                                                            [(ngModel)]="selectedPieceJointeConventions.dateCreation"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="8">Admin</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="8"  [(ngModel)]="selectedPieceJointeConventions.admin"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="9">Visible</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="9"  [(ngModel)]="selectedPieceJointeConventions.visible"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="10">Username</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Username"
                                                           id="10" [(ngModel)]="selectedPieceJointeConventions.username"
                                                           autofocus   >
                                                    
                                                </div>
                                          <div class="p-field p-col-12 p-md-1">
                                              <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                    label="OK" (click)="addPieceJointeConventions()">
                                              </button>
                                          </div>
                                </div>
                                </p-tabPanel>
                                <p-tabPanel header="Liste">
                                    <div class="card">
                                        <p-table [value]="selectedConvention.pieceJointeConventionsVo" [scrollable]="true"
                                                scrollHeight="200px">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                                <th>Path</th>
                                                                <th>Date ajout</th>
                                                                <th>Libelle</th>
                                                                <th>Archive</th>
                                                                <th>Date archivage</th>
                                                                <th>Date creation</th>
                                                                <th>Admin</th>
                                                                <th>Visible</th>
                                                                <th>Username</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-p>
                                                <tr>
                                                                <td>{{p.path}}</td>

                                                                <td>{{p.dateAjout | date: dateFormatColumn}}</td>

                                                                <td>{{p.libelle}}</td>

                                                                <td><i *ngIf="p.archive" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.archive" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td>{{p.dateArchivage | date: dateFormatColumn}}</td>

                                                                <td>{{p.dateCreation | date: dateFormatColumn}}</td>

                                                                <td><i *ngIf="p.admin" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.admin" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td><i *ngIf="p.visible" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.visible" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td>{{p.username}}</td>

                                                    <td>
                                                        <button (click)="deletePieceJointeConventions(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>

                                </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>


                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-organisme-create-moderateur></app-organisme-create-moderateur>


    </p-dialog>
