        <p-dialog [(visible)]="createPrestationDialog" [style]="{width: '70vw'}"
                header="Prestation" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Prestation">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Reference</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedPrestation.reference"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Num arrivee<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Num arrivee"
                                                   id="2" [(ngModel)]="selectedPrestation.numArrivee"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPrestationNumArrivee}"  />
                                            <small class='p-error' *ngIf='!validPrestationNumArrivee'>NumArrivee est obligatoire.</small>
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="3">Envoye</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedPrestation.envoye"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Date envoi</label>
                                            <p-calendar id="4"
                                                        placeholder="Date envoi"  [(ngModel)]="selectedPrestation.dateEnvoi"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="5">Etat prestation<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="etatPrestations" [(ngModel)]="selectedPrestation.etatPrestationVo"
                                                    id="5" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat prestation" [ngClass]="{'ng-invalid ng-dirty' : !validPrestationEtatPrestation}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validPrestationEtatPrestation'>EtatPrestation est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatPrestation('etatPrestation')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Date traitement</label>
                                            <p-calendar id="6"
                                                        placeholder="Date traitement"  [(ngModel)]="selectedPrestation.dateTraitement"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Charge cas<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Charge cas"
                                                   id="7" [(ngModel)]="selectedPrestation.chargeCas"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPrestationChargeCas}"  />
                                            <small class='p-error' *ngIf='!validPrestationChargeCas'>ChargeCas est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="8">Niveau importance<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="niveauImportances" [(ngModel)]="selectedPrestation.niveauImportanceVo"
                                                    id="8" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Niveau importance" [ngClass]="{'ng-invalid ng-dirty' : !validPrestationNiveauImportance}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validPrestationNiveauImportance'>NiveauImportance est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateniveauImportance('niveauImportance')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="9">Type prestation<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="typePrestations" [(ngModel)]="selectedPrestation.typePrestationVo"
                                                    id="9" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Type prestation" [ngClass]="{'ng-invalid ng-dirty' : !validPrestationTypePrestation}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validPrestationTypePrestation'>TypePrestation est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatetypePrestation('typePrestation')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="10">Resultat</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="10"  [(ngModel)]="selectedPrestation.resultat"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">Notes</label>
                                            <textarea id="11" pInputTextarea rows="5" cols="30"
                                                      placeholder="Notes"  [(ngModel)]="selectedPrestation.notes"
                                             ></textarea>
                                            
                                        </div>

                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="12">Adherent<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="adherents" [(ngModel)]="selectedPrestation.adherentVo"
                                                    id="12" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="username"
                                                    placeholder="Adherent" [ngClass]="{'ng-invalid ng-dirty' : !validPrestationAdherent}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validPrestationAdherent'>Adherent est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateadherent('adherent')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="13">Piece jointe prestations</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="13"
                                                           placeholder="Piece jointe prestations"
                                                    [(ngModel)]="selectedPrestation.pieceJointePrestations"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="14">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="14"  [(ngModel)]="selectedPrestation.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="15">Date archivage</label>
                                            <p-calendar id="15"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedPrestation.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="16">Date creation</label>
                                            <p-calendar id="16"
                                                        placeholder="Date creation"  [(ngModel)]="selectedPrestation.dateCreation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="17">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="17"  [(ngModel)]="selectedPrestation.admin"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="18">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="18"  [(ngModel)]="selectedPrestation.visible"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="19">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="19" [(ngModel)]="selectedPrestation.username"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Piece jointe prestations">
                                   <p-tabView>
                                    <p-tabPanel header="Création">
                                <div class="p-grid">
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="1">Path</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Path"
                                                           id="1" [(ngModel)]="selectedPieceJointePrestations.path"
                                                           autofocus   >
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="3">Date ajout</label>
                                                    <p-calendar id="3"
                                                                placeholder="Date ajout"
                                                            [(ngModel)]="selectedPieceJointePrestations.dateAjout"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="4">Libelle</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Libelle"
                                                           id="4" [(ngModel)]="selectedPieceJointePrestations.libelle"
                                                           autofocus   >
                                                    
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="5">Archive</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="5"  [(ngModel)]="selectedPieceJointePrestations.archive"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="6">Date archivage</label>
                                                    <p-calendar id="6"
                                                                placeholder="Date archivage"
                                                            [(ngModel)]="selectedPieceJointePrestations.dateArchivage"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="7">Date creation</label>
                                                    <p-calendar id="7"
                                                                placeholder="Date creation"
                                                            [(ngModel)]="selectedPieceJointePrestations.dateCreation"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="8">Admin</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="8"  [(ngModel)]="selectedPieceJointePrestations.admin"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="9">Visible</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="9"  [(ngModel)]="selectedPieceJointePrestations.visible"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="10">Username</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Username"
                                                           id="10" [(ngModel)]="selectedPieceJointePrestations.username"
                                                           autofocus   >
                                                    
                                                </div>
                                          <div class="p-field p-col-12 p-md-1">
                                              <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                    label="OK" (click)="addPieceJointePrestations()">
                                              </button>
                                          </div>
                                </div>
                                </p-tabPanel>
                                <p-tabPanel header="Liste">
                                    <div class="card">
                                        <p-table [value]="selectedPrestation.pieceJointePrestationsVo" [scrollable]="true"
                                                scrollHeight="200px">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                                <th>Path</th>
                                                                <th>Date ajout</th>
                                                                <th>Libelle</th>
                                                                <th>Archive</th>
                                                                <th>Date archivage</th>
                                                                <th>Date creation</th>
                                                                <th>Admin</th>
                                                                <th>Visible</th>
                                                                <th>Username</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-p>
                                                <tr>
                                                                <td>{{p.path}}</td>

                                                                <td>{{p.dateAjout | date: dateFormatColumn}}</td>

                                                                <td>{{p.libelle}}</td>

                                                                <td><i *ngIf="p.archive" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.archive" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td>{{p.dateArchivage | date: dateFormatColumn}}</td>

                                                                <td>{{p.dateCreation | date: dateFormatColumn}}</td>

                                                                <td><i *ngIf="p.admin" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.admin" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td><i *ngIf="p.visible" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.visible" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td>{{p.username}}</td>

                                                    <td>
                                                        <button (click)="deletePieceJointePrestations(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>

                                </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>


                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-etat-prestation-create-adherent></app-etat-prestation-create-adherent>
                    <app-niveau-importance-create-adherent></app-niveau-importance-create-adherent>
                    <app-type-prestation-create-adherent></app-type-prestation-create-adherent>
                    <app-adherent-create-adherent></app-adherent-create-adherent>


    </p-dialog>
