
        <p-dialog [(visible)]="editRendezVousDialog" [style]="{width: '70vw'}"
                header="Rendez vous" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Rendez vous">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Reference</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedRendezVous.reference"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Description</label>
                                            <textarea id="2" pInputTextarea rows="5" cols="30"
                                                      placeholder="Description"  [(ngModel)]="selectedRendezVous.description"
                                            ></textarea>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Date debut</label>
                                            <p-calendar id="3"
                                                        placeholder="Date debut"  [(ngModel)]="selectedRendezVous.dateDebut"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Pv</label>
                                            <textarea id="4" pInputTextarea rows="5" cols="30"
                                                      placeholder="Pv"  [(ngModel)]="selectedRendezVous.pv"
                                            ></textarea>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Piece jointe rendez vous</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Piece jointe rendez vous"  [(ngModel)]="selectedRendezVous.pieceJointeRendezVous"
                                                    [(ngModel)]="selectedRendezVous.pieceJointeRendezVous"></p-inputNumber>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="6">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="selectedRendezVous.archive"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Date archivage</label>
                                            <p-calendar id="7"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedRendezVous.dateArchivage"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Date creation</label>
                                            <p-calendar id="8"
                                                        placeholder="Date creation"  [(ngModel)]="selectedRendezVous.dateCreation"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="9">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="9"  [(ngModel)]="selectedRendezVous.admin"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="10">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="10"  [(ngModel)]="selectedRendezVous.visible"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="11" [(ngModel)]="selectedRendezVous.username"
                                                   />
                                        </div>



                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Piece jointe rendez vous">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-field">
                                                    <label for="1">Path</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Path"
                                                           id="1" [(ngModel)]="selectedPieceJointeRendezVouss.path"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="2">Date ajout</label>
                                                    <p-calendar id="2"
                                                                placeholder="Date ajout"
                                                            [(ngModel)]="selectedPieceJointeRendezVouss.dateAjout"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"></p-calendar>
                                                </div>
                                                <div class="p-field">
                                                    <label for="3">Libelle</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Libelle"
                                                           id="3" [(ngModel)]="selectedPieceJointeRendezVouss.libelle"
                                                           />
                                                </div>

                                                <div class="p-field  align-inputswitch">
                                                    <div  class="label-inputswitch">
                                                        <label for="4">Archive</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="4"  [(ngModel)]="selectedPieceJointeRendezVouss.archive"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field">
                                                    <label for="5">Date archivage</label>
                                                    <p-calendar id="5"
                                                                placeholder="Date archivage"
                                                            [(ngModel)]="selectedPieceJointeRendezVouss.dateArchivage"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"></p-calendar>
                                                </div>
                                                <div class="p-field">
                                                    <label for="6">Date creation</label>
                                                    <p-calendar id="6"
                                                                placeholder="Date creation"
                                                            [(ngModel)]="selectedPieceJointeRendezVouss.dateCreation"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"></p-calendar>
                                                </div>
                                                <div class="p-field  align-inputswitch">
                                                    <div  class="label-inputswitch">
                                                        <label for="7">Admin</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="7"  [(ngModel)]="selectedPieceJointeRendezVouss.admin"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field  align-inputswitch">
                                                    <div  class="label-inputswitch">
                                                        <label for="8">Visible</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="8"  [(ngModel)]="selectedPieceJointeRendezVouss.visible"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field">
                                                    <label for="9">Username</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Username"
                                                           id="9" [(ngModel)]="selectedPieceJointeRendezVouss.username"
                                                           />
                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addPieceJointeRendezVous()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRendezVous.pieceJointeRendezVousVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Path</th>
                                                                    <th>Date ajout</th>
                                                                    <th>Libelle</th>
                                                                    <th>Archive</th>
                                                                    <th>Date archivage</th>
                                                                    <th>Date creation</th>
                                                                    <th>Admin</th>
                                                                    <th>Visible</th>
                                                                    <th>Username</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                    <td>{{p.path}}</td>

                                                                    <td>{{p.dateAjout | date: dateFormatColumn}}</td>

                                                                    <td>{{p.libelle}}</td>

                                                                    <td><i *ngIf="p.archive" class="pi pi-check checked-toogle"></i>
                                                                        <i *ngIf="!p.archive" class="pi pi-times unchecked-toogle"></i>
                                                                    </td>

                                                                    <td>{{p.dateArchivage | date: dateFormatColumn}}</td>

                                                                    <td>{{p.dateCreation | date: dateFormatColumn}}</td>

                                                                    <td><i *ngIf="p.admin" class="pi pi-check checked-toogle"></i>
                                                                        <i *ngIf="!p.admin" class="pi pi-times unchecked-toogle"></i>
                                                                    </td>

                                                                    <td><i *ngIf="p.visible" class="pi pi-check checked-toogle"></i>
                                                                        <i *ngIf="!p.visible" class="pi pi-times unchecked-toogle"></i>
                                                                    </td>

                                                                    <td>{{p.username}}</td>

                                                        <td>
                                                            <button (click)="deletePieceJointeRendezVouss(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>




    </p-dialog>



