
        <p-dialog [(visible)]="editConventionDialog" [style]="{width: '70vw'}"
                header="Convention" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Convention">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Reference</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedConvention.reference"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Libelle</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="2" [(ngModel)]="selectedConvention.libelle"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="3">Organisme</label>
                                            <p-dropdown [options]="organismes" [(ngModel)]="selectedConvention.organismeVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Organisme">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateorganisme('organisme')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Description</label>
                                            <textarea id="4" pInputTextarea rows="5" cols="30"
                                                      placeholder="Description"  [(ngModel)]="selectedConvention.description"
                                            ></textarea>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Date debut</label>
                                            <p-calendar id="5"
                                                        placeholder="Date debut"  [(ngModel)]="selectedConvention.dateDebut"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Piece jointe conventions</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="6"
                                                           placeholder="Piece jointe conventions"  [(ngModel)]="selectedConvention.pieceJointeConventions"
                                                    [(ngModel)]="selectedConvention.pieceJointeConventions"></p-inputNumber>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="7">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="7"  [(ngModel)]="selectedConvention.archive"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Date archivage</label>
                                            <p-calendar id="8"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedConvention.dateArchivage"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Date creation</label>
                                            <p-calendar id="9"
                                                        placeholder="Date creation"  [(ngModel)]="selectedConvention.dateCreation"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="10">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="10"  [(ngModel)]="selectedConvention.admin"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="11">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="11"  [(ngModel)]="selectedConvention.visible"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="12">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="12" [(ngModel)]="selectedConvention.username"
                                                   />
                                        </div>



                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Piece jointe conventions">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-field">
                                                    <label for="1">Path</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Path"
                                                           id="1" [(ngModel)]="selectedPieceJointeConventions.path"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="2">Date ajout</label>
                                                    <p-calendar id="2"
                                                                placeholder="Date ajout"
                                                            [(ngModel)]="selectedPieceJointeConventions.dateAjout"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"></p-calendar>
                                                </div>
                                                <div class="p-field">
                                                    <label for="3">Libelle</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Libelle"
                                                           id="3" [(ngModel)]="selectedPieceJointeConventions.libelle"
                                                           />
                                                </div>

                                                <div class="p-field  align-inputswitch">
                                                    <div  class="label-inputswitch">
                                                        <label for="4">Archive</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="4"  [(ngModel)]="selectedPieceJointeConventions.archive"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field">
                                                    <label for="5">Date archivage</label>
                                                    <p-calendar id="5"
                                                                placeholder="Date archivage"
                                                            [(ngModel)]="selectedPieceJointeConventions.dateArchivage"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"></p-calendar>
                                                </div>
                                                <div class="p-field">
                                                    <label for="6">Date creation</label>
                                                    <p-calendar id="6"
                                                                placeholder="Date creation"
                                                            [(ngModel)]="selectedPieceJointeConventions.dateCreation"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"></p-calendar>
                                                </div>
                                                <div class="p-field  align-inputswitch">
                                                    <div  class="label-inputswitch">
                                                        <label for="7">Admin</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="7"  [(ngModel)]="selectedPieceJointeConventions.admin"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field  align-inputswitch">
                                                    <div  class="label-inputswitch">
                                                        <label for="8">Visible</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="8"  [(ngModel)]="selectedPieceJointeConventions.visible"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field">
                                                    <label for="9">Username</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Username"
                                                           id="9" [(ngModel)]="selectedPieceJointeConventions.username"
                                                           />
                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addPieceJointeConventions()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedConvention.pieceJointeConventionsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Path</th>
                                                                    <th>Date ajout</th>
                                                                    <th>Libelle</th>
                                                                    <th>Archive</th>
                                                                    <th>Date archivage</th>
                                                                    <th>Date creation</th>
                                                                    <th>Admin</th>
                                                                    <th>Visible</th>
                                                                    <th>Username</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                    <td>{{p.path}}</td>

                                                                    <td>{{p.dateAjout | date: dateFormatColumn}}</td>

                                                                    <td>{{p.libelle}}</td>

                                                                    <td><i *ngIf="p.archive" class="pi pi-check checked-toogle"></i>
                                                                        <i *ngIf="!p.archive" class="pi pi-times unchecked-toogle"></i>
                                                                    </td>

                                                                    <td>{{p.dateArchivage | date: dateFormatColumn}}</td>

                                                                    <td>{{p.dateCreation | date: dateFormatColumn}}</td>

                                                                    <td><i *ngIf="p.admin" class="pi pi-check checked-toogle"></i>
                                                                        <i *ngIf="!p.admin" class="pi pi-times unchecked-toogle"></i>
                                                                    </td>

                                                                    <td><i *ngIf="p.visible" class="pi pi-check checked-toogle"></i>
                                                                        <i *ngIf="!p.visible" class="pi pi-times unchecked-toogle"></i>
                                                                    </td>

                                                                    <td>{{p.username}}</td>

                                                        <td>
                                                            <button (click)="deletePieceJointeConventions(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-organisme-create-moderateur></app-organisme-create-moderateur>



    </p-dialog>



