
<p-dialog [(visible)]="viewEstivageCentreEstivageDialog" [style]="{width: '70vw'}"
        header="Estivage centre estivage" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Estivage centre estivage">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Reference</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Reference"  [(ngModel)]="selectedEstivageCentreEstivage.reference"
                                           id="1" [(ngModel)]="selectedEstivageCentreEstivage.reference"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Centre estivage</label>
                                    <p-dropdown [options]="centreEstivages" [(ngModel)]="selectedEstivageCentreEstivage.centreEstivageVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Centre estivage">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Estivage</label>
                                    <p-dropdown [options]="estivages" [(ngModel)]="selectedEstivageCentreEstivage.estivageVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="reference"
                                            placeholder="Estivage">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">Ordre</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="4" [disabled]="true"
                                                   placeholder="Ordre"  [(ngModel)]="selectedEstivageCentreEstivage.ordre"
                                            [(ngModel)]="selectedEstivageCentreEstivage.ordre"></p-inputNumber>
                                </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-centre-estivage-create-chercheur></app-centre-estivage-create-chercheur>
            <app-estivage-create-chercheur></app-estivage-create-chercheur>



</p-dialog>



