        <p-dialog [(visible)]="createDemandeEstivageCentreDialog" [style]="{width: '70vw'}"
                header="Demande estivage centre" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Demande estivage centre">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Reference</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedDemandeEstivageCentre.reference"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="2">Demande estivage</label>
                                            <p-dropdown [options]="demandeEstivages" [(ngModel)]="selectedDemandeEstivageCentre.demandeEstivageVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="reference"
                                                    placeholder="Demande estivage"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatedemandeEstivage('demandeEstivage')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="3">Centre estivage</label>
                                            <p-dropdown [options]="centreEstivages" [(ngModel)]="selectedDemandeEstivageCentre.centreEstivageVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Centre estivage"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecentreEstivage('centreEstivage')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-demande-estivage-create-adherent></app-demande-estivage-create-adherent>
                    <app-centre-estivage-create-adherent></app-centre-estivage-create-adherent>


    </p-dialog>
