
<p-dialog [(visible)]="viewOrganismeDialog" [style]="{width: '70vw'}"
        header="Organisme" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Organisme">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="1">Reference</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Reference"  [(ngModel)]="selectedOrganisme.reference"
                                           id="1" [(ngModel)]="selectedOrganisme.reference"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="2">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle"  [(ngModel)]="selectedOrganisme.libelle"
                                           id="2" [(ngModel)]="selectedOrganisme.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="3">Telephone</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Telephone"  [(ngModel)]="selectedOrganisme.telephone"
                                           id="3" [(ngModel)]="selectedOrganisme.telephone"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="4">Email</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Email"  [(ngModel)]="selectedOrganisme.email"
                                           id="4" [(ngModel)]="selectedOrganisme.email"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="5">Fix</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Fix"  [(ngModel)]="selectedOrganisme.fix"
                                           id="5" [(ngModel)]="selectedOrganisme.fix"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="6">Fax</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Fax"  [(ngModel)]="selectedOrganisme.fax"
                                           id="6" [(ngModel)]="selectedOrganisme.fax"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="7">Ville</label>
                                    <p-dropdown [options]="villes" [(ngModel)]="selectedOrganisme.villeVo"
                                            id="7" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Ville">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-ville-create-chercheur></app-ville-create-chercheur>



</p-dialog>



