        <p-dialog [(visible)]="createCentreEstivageDialog" [style]="{width: '70vw'}"
                header="Centre estivage" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Centre estivage">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Reference</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedCentreEstivage.reference"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Capacite</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="2"
                                                           placeholder="Capacite"
                                                    [(ngModel)]="selectedCentreEstivage.capacite"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Libelle</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="3" [(ngModel)]="selectedCentreEstivage.libelle"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="4">Ville<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="villes" [(ngModel)]="selectedCentreEstivage.villeVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Ville" [ngClass]="{'ng-invalid ng-dirty' : !validCentreEstivageVille}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validCentreEstivageVille'>Ville est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateville('ville')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field align-inputswitch p-col-12  p-md-6">
                                            <div  class="label-inputswitch">
                                                <label for="5">Vip</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="5"  [(ngModel)]="selectedCentreEstivage.vip"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-ville-create-chercheur></app-ville-create-chercheur>


    </p-dialog>
