
<p-dialog [(visible)]="viewEnfantDialog" [style]="{width: '70vw'}"
        header="Enfant" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Enfant">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Reference</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Reference"  [(ngModel)]="selectedEnfant.reference"
                                           id="1" [(ngModel)]="selectedEnfant.reference"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Nom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nom"  [(ngModel)]="selectedEnfant.nom"
                                           id="2" [(ngModel)]="selectedEnfant.nom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Prenom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Prenom"  [(ngModel)]="selectedEnfant.prenom"
                                           id="3" [(ngModel)]="selectedEnfant.prenom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="4">Age</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="4" [disabled]="true"
                                                   placeholder="Age"  [(ngModel)]="selectedEnfant.age"
                                            [(ngModel)]="selectedEnfant.age"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="5">Date naissance</label>
                                    <p-calendar id="5" [disabled]="true"
                                                placeholder="Date naissance"  [(ngModel)]="selectedEnfant.dateNaissance"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="6">Qualite</label>
                                    <p-dropdown [options]="qualites" [(ngModel)]="selectedEnfant.qualiteVo"
                                            id="6" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Qualite">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="7">Adherent</label>
                                    <p-dropdown [options]="adherents" [(ngModel)]="selectedEnfant.adherentVo"
                                            id="7" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="username"
                                            placeholder="Adherent">
                                    </p-dropdown>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="8">Archive</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="8"  [disabled]="true" [(ngModel)]="selectedEnfant.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="9">Date archivage</label>
                                    <p-calendar id="9" [disabled]="true"
                                                placeholder="Date archivage"  [(ngModel)]="selectedEnfant.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="10">Date creation</label>
                                    <p-calendar id="10" [disabled]="true"
                                                placeholder="Date creation"  [(ngModel)]="selectedEnfant.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="11">Admin</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="11"  [disabled]="true" [(ngModel)]="selectedEnfant.admin"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="12">Visible</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="12"  [disabled]="true" [(ngModel)]="selectedEnfant.visible"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="13">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedEnfant.username"
                                           id="13" [(ngModel)]="selectedEnfant.username"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-qualite-create-chercheur></app-qualite-create-chercheur>
            <app-adherent-create-chercheur></app-adherent-create-chercheur>



</p-dialog>



