        <p-dialog [(visible)]="createImpressionCarteDialog" [style]="{width: '70vw'}"
                header="Impression carte" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Impression carte">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Aff</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Aff"
                                                   id="1" [(ngModel)]="selectedImpressionCarte.aff"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Qualite</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Qualite"
                                                   id="2" [(ngModel)]="selectedImpressionCarte.qualite"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="3" [(ngModel)]="selectedImpressionCarte.nom"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Prenom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom"
                                                   id="4" [(ngModel)]="selectedImpressionCarte.prenom"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Nomprenomar</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nomprenomar"
                                                   id="5" [(ngModel)]="selectedImpressionCarte.nomprenomar"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Nom ar</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom ar"
                                                   id="6" [(ngModel)]="selectedImpressionCarte.nomAr"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Prenom ar</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom ar"
                                                   id="7" [(ngModel)]="selectedImpressionCarte.prenomAr"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Cinn</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cinn"
                                                   id="8" [(ngModel)]="selectedImpressionCarte.cinn"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Cin</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cin"
                                                   id="9" [(ngModel)]="selectedImpressionCarte.cin"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">Pprr</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Pprr"
                                                   id="10" [(ngModel)]="selectedImpressionCarte.pprr"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">Ppr</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Ppr"
                                                   id="11" [(ngModel)]="selectedImpressionCarte.ppr"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="12">Naissance</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Naissance"
                                                   id="12" [(ngModel)]="selectedImpressionCarte.naissance"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="13">Date naissance</label>
                                            <p-calendar id="13"
                                                        placeholder="Date naissance"  [(ngModel)]="selectedImpressionCarte.dateNaissance"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="14">Photo</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Photo"
                                                   id="14" [(ngModel)]="selectedImpressionCarte.photo"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="15">Cinn conjoint</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cinn conjoint"
                                                   id="15" [(ngModel)]="selectedImpressionCarte.cinnConjoint"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="16">Cin conjoint</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cin conjoint"
                                                   id="16" [(ngModel)]="selectedImpressionCarte.cinConjoint"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="17">Adherent</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Adherent"
                                                   id="17" [(ngModel)]="selectedImpressionCarte.adherent"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="18">Nom adherent</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom adherent"
                                                   id="18" [(ngModel)]="selectedImpressionCarte.nomAdherent"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="19">Prenom adherent</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom adherent"
                                                   id="19" [(ngModel)]="selectedImpressionCarte.prenomAdherent"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="20">Cinn adherent</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cinn adherent"
                                                   id="20" [(ngModel)]="selectedImpressionCarte.cinnAdherent"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="21">Cin adherent</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cin adherent"
                                                   id="21" [(ngModel)]="selectedImpressionCarte.cinAdherent"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="22">Pprr adherent</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Pprr adherent"
                                                   id="22" [(ngModel)]="selectedImpressionCarte.pprrAdherent"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="23">Ppr adherent</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Ppr adherent"
                                                   id="23" [(ngModel)]="selectedImpressionCarte.pprAdherent"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="24">Versocarte</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Versocarte"
                                                   id="24" [(ngModel)]="selectedImpressionCarte.versocarte"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="25">Aff1</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Aff1"
                                                   id="25" [(ngModel)]="selectedImpressionCarte.aff1"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="26">Aff2</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Aff2"
                                                   id="26" [(ngModel)]="selectedImpressionCarte.aff2"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="27">Nval</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nval"
                                                   id="27" [(ngModel)]="selectedImpressionCarte.nval"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
