<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateEnfant('enfant')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchEnfant.reference">
                                    <label for="1">Reference</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchEnfant.nom">
                                    <label for="2">Nom</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="3"
                                           type="text"  [(ngModel)]="searchEnfant.prenom">
                                    <label for="3">Prenom</label>
                                </span>
                                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchEnfant.ageMin"
                                                             id="4-1"></p-inputNumber>
                                              <label for="4-1">Age Min</label>
                                       </span>
                                       <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchEnfant.ageMax"
                                                             id="4-2"></p-inputNumber>
                                             <label for="4-2">Age Max</label>
                                       </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchEnfant.dateNaissanceMin"
                                    id="5-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="5-1">Date naissance Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchEnfant.dateNaissanceMax"
                                    id="5-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="5-2">Date naissance Max</label>
                        </span>

                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="qualites" [(ngModel)]="searchEnfant.qualiteVo"
                                        id="6"
                                        [filter]="true" [showClear]="true"  placeholder="Qualite"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="adherents" [(ngModel)]="searchEnfant.adherentVo"
                                        id="7"
                                        [filter]="true" [showClear]="true"  placeholder="Adherent"
                                        optionLabel="username">
                                </p-dropdown>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="8" [options]="yesOrNoArchive" [(ngModel)]="searchEnfant.archive"
                                            [filter]="false" [showClear]="true"  placeholder="Archive"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchEnfant.dateArchivageMin"
                                    id="9-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="9-1">Date archivage Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchEnfant.dateArchivageMax"
                                    id="9-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="9-2">Date archivage Max</label>
                        </span>


                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchEnfant.dateCreationMin"
                                    id="10-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="10-1">Date creation Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchEnfant.dateCreationMax"
                                    id="10-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="10-2">Date creation Max</label>
                        </span>

                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="11" [options]="yesOrNoAdmin" [(ngModel)]="searchEnfant.admin"
                                            [filter]="false" [showClear]="true"  placeholder="Admin"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="12" [options]="yesOrNoVisible" [(ngModel)]="searchEnfant.visible"
                                            [filter]="false" [showClear]="true"  placeholder="Visible"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="13"
                                           type="text"  [(ngModel)]="searchEnfant.username">
                                    <label for="13">Username</label>
                                </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="enfants" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['reference', 'nom', 'prenom', 'age', 'dateNaissance', 'libelle', 'username', 'archive', 'dateArchivage', 'dateCreation', 'admin', 'visible', 'username']" [(selection)]="selectedEnfant"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Enfants</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="reference">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Reference</span>
                                        <p-sortIcon field="reference"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="nom">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Nom</span>
                                        <p-sortIcon field="nom"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="prenom">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Prenom</span>
                                        <p-sortIcon field="prenom"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="age">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Age</span>
                                        <p-sortIcon field="age"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateNaissance">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date naissance</span>
                                        <p-sortIcon field="dateNaissance"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="qualite">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Qualite</span>
                                        <p-sortIcon field="qualite"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="adherent">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Adherent</span>
                                        <p-sortIcon field="adherent"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="archive">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Archive</span>
                                        <p-sortIcon field="archive"></p-sortIcon>
                                    </div>
                                </th>
                                


                                <!-- 
                                <th pSortableColumn="dateArchivage">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date archivage</span>
                                        <p-sortIcon field="dateArchivage"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                                <!-- 
                                <th pSortableColumn="dateCreation">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date creation</span>
                                        <p-sortIcon field="dateCreation"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                                <!-- 
                                <th pSortableColumn="admin">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Admin</span>
                                        <p-sortIcon field="admin"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                                <!-- 
                                <th pSortableColumn="visible">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Visible</span>
                                        <p-sortIcon field="visible"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                                <!-- 
                                <th pSortableColumn="username">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Username</span>
                                        <p-sortIcon field="username"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-enfant>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="enfant"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{enfant.reference}}</td>
                            

                            
                                 <td>{{enfant.nom}}</td>
                            

                            
                                 <td>{{enfant.prenom}}</td>
                            

                            
                                 <td>{{enfant.age}}</td>
                            

                            
                                <td>{{enfant.dateNaissance | date:'dd-M-yyyy' }}</td>
                            

                            
                                <td>{{enfant.qualiteVo?.libelle}}</td>
                            

                            
                                <td>{{enfant.adherentVo?.username}}</td>
                            

                            
                                <td><i *ngIf="enfant.archive" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!enfant.archive" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            

                             <!-- 
                                <td>{{enfant.dateArchivage | date:'dd-M-yyyy' }}</td>
                             --> 

                             <!-- 
                                <td>{{enfant.dateCreation | date:'dd-M-yyyy' }}</td>
                             --> 

                             <!-- 
                                <td><i *ngIf="enfant.admin" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!enfant.admin" class="pi pi-times unchecked-toogle"></i>
                                </td>
                             --> 

                             <!-- 
                                <td><i *ngIf="enfant.visible" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!enfant.visible" class="pi pi-times unchecked-toogle"></i>
                                </td>
                             --> 

                             <!-- 
                                 <td>{{enfant.username}}</td>
                             --> 


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editEnfant(enfant)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewEnfant(enfant)"></button>
                            <button *ngIf="!enfant.archive" pButton pRipple icon="pi pi-calendar-minus" class="p-button-rounded p-button-help p-mr-2"
                                    (click)="archiverEnfant(enfant)"></button>

                            <button *ngIf="enfant.archive" pButton pRipple icon="pi pi-calendar-plus" class="p-button-rounded p-button-secondary p-mr-2"
                                    (click)="desarchiverEnfant(enfant)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateEnfant(enfant)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{enfants ? enfants.length == 1 ? 'y a' : 'y a' : 'y a' }} {{enfants ? enfants.length : 0 }} {{enfants ? enfants.length == 1 ? 'enfant' : 'enfants' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-enfant-create-adherent></app-enfant-create-adherent>
        <app-enfant-edit-adherent></app-enfant-edit-adherent>
        <app-enfant-view-adherent></app-enfant-view-adherent>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
