
<p-dialog [(visible)]="viewProfilDialog" [style]="{width: '70vw'}"
        header="Profil" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Profil">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Reference</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Reference"  [(ngModel)]="selectedProfil.reference"
                                           id="1" [(ngModel)]="selectedProfil.reference"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle"  [(ngModel)]="selectedProfil.libelle"
                                           id="2" [(ngModel)]="selectedProfil.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Grade</label>
                                    <p-dropdown [options]="grades" [(ngModel)]="selectedProfil.gradeVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Grade">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">Echelle</label>
                                    <p-dropdown [options]="echelles" [(ngModel)]="selectedProfil.echelleVo"
                                            id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Echelle">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-grade-create-chercheur></app-grade-create-chercheur>
            <app-echelle-create-chercheur></app-echelle-create-chercheur>



</p-dialog>



