
<p-dialog [(visible)]="viewReclamationDialog" [style]="{width: '70vw'}"
        header="Reclamation" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Reclamation">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Reference</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Reference"  [(ngModel)]="selectedReclamation.reference"
                                           id="1" [(ngModel)]="selectedReclamation.reference"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle"  [(ngModel)]="selectedReclamation.libelle"
                                           id="2" [(ngModel)]="selectedReclamation.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Description</label>
                                    <textarea id="3" pInputTextarea rows="5" cols="30"
                                              placeholder="Description"  [(ngModel)]="selectedReclamation.description"
                                    ></textarea>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="4">Adherent</label>
                                    <p-dropdown [options]="adherents" [(ngModel)]="selectedReclamation.adherentVo"
                                            id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="username"
                                            placeholder="Adherent">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="5">Etat reclamation</label>
                                    <p-dropdown [options]="etatReclamations" [(ngModel)]="selectedReclamation.etatReclamationVo"
                                            id="5" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat reclamation">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="6">Date reclamation</label>
                                    <p-calendar id="6" [disabled]="true"
                                                placeholder="Date reclamation"  [(ngModel)]="selectedReclamation.dateReclamation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="7">Piece jointe reclamations</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="7" [disabled]="true"
                                                   placeholder="Piece jointe reclamations"  [(ngModel)]="selectedReclamation.pieceJointeReclamations"
                                            [(ngModel)]="selectedReclamation.pieceJointeReclamations"></p-inputNumber>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="8">Archive</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="8"  [disabled]="true" [(ngModel)]="selectedReclamation.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="9">Date archivage</label>
                                    <p-calendar id="9" [disabled]="true"
                                                placeholder="Date archivage"  [(ngModel)]="selectedReclamation.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="10">Date creation</label>
                                    <p-calendar id="10" [disabled]="true"
                                                placeholder="Date creation"  [(ngModel)]="selectedReclamation.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="11">Admin</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="11"  [disabled]="true" [(ngModel)]="selectedReclamation.admin"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="12">Visible</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="12"  [disabled]="true" [(ngModel)]="selectedReclamation.visible"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="13">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedReclamation.username"
                                           id="13" [(ngModel)]="selectedReclamation.username"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>
                    <p-tabPanel header="Piece jointe reclamations">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedReclamation.pieceJointeReclamationsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Path</th>
                                                            <th>Date ajout</th>
                                                            <th>Libelle</th>
                                                            <th>Archive</th>
                                                            <th>Date archivage</th>
                                                            <th>Date creation</th>
                                                            <th>Admin</th>
                                                            <th>Visible</th>
                                                            <th>Username</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                            <td>{{p.path}}</td>

                                                            <td>{{p.dateAjout | date: dateFormatColumn}}</td>

                                                            <td>{{p.libelle}}</td>

                                                            <td><i *ngIf="p.archive" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.archive" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td>{{p.dateArchivage | date: dateFormatColumn}}</td>

                                                            <td>{{p.dateCreation | date: dateFormatColumn}}</td>

                                                            <td><i *ngIf="p.admin" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.admin" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td><i *ngIf="p.visible" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.visible" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td>{{p.username}}</td>


                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

<!--            <app-adherent-create-admin></app-adherent-create-admin>-->
<!--            <app-etat-reclamation-create-admin></app-etat-reclamation-create-admin>-->



</p-dialog>



